
public java.lang.Object convertJsonReader2Object(com.google.gson.stream.JsonReader jsonReader) {
    ${varType} instance = new ${varType}();
    jsonReader.beginObject();


    while (jsonReader.hasNext()) {
        String key = jsonReader.nextName();
        com.google.gson.stream.JsonToken jsonToken = jsonReader.peek();

        if (jsonToken.equals(com.google.gson.stream.JsonToken.NULL)) {
            jsonReader.nextNull();
            continue;
        }

        #foreach ($codeLine in $codeLines)
        ${codeLine}
        #end

        jsonReader.skipValue();
    }
    jsonReader.endObject();

    return instance;
}