if (!${jsonTokenName}.equals(com.google.gson.stream.JsonToken.STRING)) {
   throw new com.skyline.json.staticjson.exception.TypeNotMatchedException("${varName}", ${jsonTokenName}.name(), "java.lang.String");
}
${varName} = jsonReader.nextString();