#*
if (key.equals("id")) {
    if (jsonToken.equals(JsonToken.NULL)) {
        continue;
    } else if (!(jsonToken.equals(JsonToken.BOOLEAN) || jsonToken.equals(JsonToken.NUMBER))) {
        throw new TypeNotMatchedException("id", jsonToken.name(), "lang");
    }
    m.id = Long.valueOf(r.nextLong());
    continue;
}
*#

if (!(${jsonTokenName}.equals(com.google.gson.stream.JsonToken.BOOLEAN) || ${jsonTokenName}.equals(com.google.gson.stream.JsonToken.NUMBER) || ${jsonTokenName}.equals(com.google.gson.stream.JsonToken.STRING))) {
   throw new com.skyline.json.staticjson.core.exception.TypeNotMatchedException("${varName}", ${jsonTokenName}.name(), "${varType}");
}
${varName} = ${valReader};