${varName} = new ${varType}();
jsonReader.beginObject();
while (jsonReader.hasNext()) {

    ${keyType} ${keyName} = null;

    com.google.gson.stream.JsonReader ${jsonReader} = jsonReader;
    java.io.StringReader ${stringReader} = null;
    try {
        ${stringReader} = new java.io.StringReader(${jsonReader}.nextName());
        jsonReader = new com.google.gson.stream.JsonReader(${stringReader});
        com.google.gson.stream.JsonToken ${keyTokenName} = jsonReader.peek();
        if(${keyTokenName} != com.google.gson.stream.JsonToken.NULL){
            ${keySetter}
        }else{
            jsonReader.nextNull();
        }
    } finally {
        try {
            if (jsonReader != null) {
                jsonReader.close();
            }
            if (${stringReader} != null) {
                ${stringReader}.close();
            }
        } catch (Exception ignored) {
        }
    }
    jsonReader = ${jsonReader};

    ${valueType} ${valueName} = null;
    com.google.gson.stream.JsonToken ${valueTokenName} = jsonReader.peek();
    if(${valueTokenName} != com.google.gson.stream.JsonToken.NULL){
        ${valueSetter}
    }else{
        jsonReader.nextNull();
    }

    ${varName}.put(${keyName}, ${valueName});
}
jsonReader.endObject();