#*
JsonArray toArrayArray = toArrayElement.getAsJsonArray();
message.toArray = new Long[toArrayArray.size()];
for (int i = 0; i < toArrayArray.size(); i++) {
    Long item = null;
    item = toArrayArray.getAsLong();
    message.toArray[i] = item;
}
*#

com.google.gson.JsonElement ${localVarName} = ${jsonParamName};
if (${localVarName} != null && !${localVarName}.isJsonNull()) {
    ${instanceFieldName}  = ${instanceFieldType}.valueOf( ${localVarName}.getAsString());
}