if (!(${jsonTokenName}.equals(com.google.gson.stream.JsonToken.BEGIN_ARRAY))) {
    throw new com.skyline.json.staticjson.core.exception.TypeNotMatchedException("to", ${jsonTokenName}.name(), "java.util.List");
}
java.util.List ${listName} = new java.util.ArrayList();
jsonReader.beginArray();
while (jsonReader.hasNext()) {
    ${itemType} ${itemName} = null;
    com.google.gson.stream.JsonToken ${subTokenName} = jsonReader.peek();
    ${valueSetter}
    ${listName}.add(${itemName});
}
jsonReader.endArray();
${varName} = (${varType})com.skyline.json.staticjson.core.util.ListUtil.toArray(${listName}, ${varType}.class );