#*
if (!(jsonToken.equals(JsonToken.BEGIN_ARRAY))) {
    throw new TypeNotMatchedException("to", jsonToken.name(), "List<User>");
}
instance.to = new ArrayList<>();
jsonReader.beginArray();
while (jsonReader.hasNext()) {
    User user = null;
    JsonToken subToken = jsonReader.peek();

    instance.to.add(user);
}
jsonReader.endArray();
*#

if (!(${jsonTokenName}.equals(com.google.gson.stream.JsonToken.BEGIN_ARRAY))) {
    throw new com.skyline.json.staticjson.exception.TypeNotMatchedException("to", ${jsonTokenName}.name(), "${varType}");
}
${varName} = new ${varType}();
jsonReader.beginArray();
while (jsonReader.hasNext()) {
    ${itemType} ${itemName} = null;
    com.google.gson.stream.JsonToken ${subTokenName} = jsonReader.peek();
    ${valueSetter}
    ${varName}.add(${itemName});
}
jsonReader.endArray();