${varWrappedType} ${varTmpName} = (${varWrappedType})(new ${typeAdapterName}().read(jsonReader));
#if ($isPrimitive)
${varName} = ${varTmpName}.${getValueMethod}();
#else
${varName} = ${varTmpName};
#end
