if (!(${jsonTokenName}.equals(com.google.gson.stream.JsonToken.BEGIN_OBJECT))) {
    throw new com.skyline.json.staticjson.exception.TypeNotMatchedException("${varName}", ${jsonTokenName}.name(), "${varType}");
}
${varName} = new ${varType}();
jsonReader.beginObject();
while (jsonReader.hasNext()) {

    ${keyType} ${keyName} = null;

    com.google.gson.stream.JsonReader ${jsonReader} = jsonReader;
    java.io.StringReader ${stringReader} = null;
    try {
        ${stringReader} = new java.io.StringReader(${jsonReader}.nextName());
        jsonReader = new com.google.gson.stream.JsonReader(${stringReader});
        com.google.gson.stream.JsonToken ${keyTokenName} = jsonReader.peek();
        ${keySetter}
    } finally {
        try {
            if (jsonReader != null) {
                jsonReader.close();
            }
            if (${stringReader} != null) {
                ${stringReader}.close();
            }
        } catch (Exception ignored) {
        }
    }
    jsonReader = ${jsonReader};

    ${valueType} ${valueName} = null;
    com.google.gson.stream.JsonToken ${valueTokenName} = jsonReader.peek();
    ${valueSetter}

    ${varName}.put(${keyName}, ${valueName});
}
jsonReader.endObject();