#*
if (key.equals("id")) {
    if (jsonToken == JsonToken.NULL) {
        continue;
    } else if (!(jsonToken.equals(JsonToken.BOOLEAN) || jsonToken.equals(JsonToken.NUMBER))) {
        throw new TypeNotMatchedException("id", jsonToken.name(), "lang");
    }
    m.id = Long.valueOf(r.nextLong());
    continue;
}
*#

${varName} = ${valReader};