java.util.Iterator ${iteratorName} = ${varName}.iterator();
jsonWriter.beginArray();
while (${iteratorName}.hasNext()) {
    ${elementTypeName} ${varNextName} = ((${elementTypeName})${iteratorName}.next());
    if(${varNextName} == null){
        jsonWriter.nullValue();
    }else{
        ${valueGetter}
    }
}
jsonWriter.endArray();