jsonWriter.beginObject();
java.util.Iterator ${iteratorName} =  ${varName}.keySet().iterator();
while(${iteratorName}.hasNext()){
    ${keyType} key =(${keyType})${iteratorName}.next();
    if(key != null){
        jsonWriter.name(key.toString());
    }else{
        jsonWriter.name("null");
    }
    ${valueGetter}
}
jsonWriter.endObject();