
public void write(java.lang.Object object, com.google.gson.stream.JsonWriter jsonWriter) throws java.io.IOException {
    if(object == null){
        jsonWriter.nullValue();
        return;
    }

    ${instanceType} instance = (${instanceType})object;

    jsonWriter.beginObject();

    #foreach ($codeLine in $codeLines)
    ${codeLine}
    #end

    jsonWriter.endObject();
}